* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Las tipografias se instalan al comienzo del proyecto */
/* Tipografia Local */
@font-face {
    font-family: Montserrat;
    src: url("../resources/typo/Montserrat-Bold.ttf");
}

/* Tipografia Web */
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Inicio */
h1 {
    color: black;
    background-color: #7A8450;
    font-family: Montserrat;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

div .texto-logo {
    color: black;
    background-color: #7A8450;
    font-family: Montserrat;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

h2 {
    color: black;
    background-color: #7A8450;
    font-family: Montserrat;
    font-size: medium;
    display: flex;
    justify-content: left;
}

h3 {
    font-size: medium;
}

.verde {
    background-color: #7A8450;
    color: black;
}

.bordes-redondeados {
    border-radius: 5px;
}

#hatha-yoga {
    font-size: 20px;
}

/* Menú de Navegación */
.navegacion {
    background-color: #7A8450;
    font-family: sans-serif;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: smaller;
}

.navegacion a:hover {
    color: azure;
}

.navegacion ul {
    list-style-type: none;
    text-align: center;
}

.navegacion li {
    display: inline-block;
    padding: 20px;
    font-family: Montserrat;
    font-size: smaller;
}

.navegacion li a {
    color: black;
    font-weight: bold;
}

/* Nosotros */
.container p{
    font-family: Montserrat;
    color: black;
}

/* Preguntas Frecuentes */
.faqs p {
    font-family: Montserrat;
    color: black;
    font-size: large;
    margin-top: 15px;
    background-color: #7A8450;
    width: 250px;
    border-radius: 4px;
}

.titulo-faqs{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
}

/* Box Model */
h2 {
    height: 30px;
    padding: 2px;
    border: solid 1px #87c987;
    overflow: auto;
}

.formulario input {
    display: block;
}

/* Main-Index */
.yoga {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #7A8450;
}

.yoga img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    height: 200px;
    /* Eje Horizontal - Eje Vertical - Difuminado - Extensión */
    box-shadow: 0px 0px 2px 5px #4e6724;
    margin: 20px;
}

.yoguita {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    color: black;
}

.yoguita button {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4e6724;
    color: black;
    font-family: Montserrat;
}

.yoguita button:hover{
    color: azure;
}

.elementos {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    /* grid-template-rows: repeat(2, 150px);  */
    /* Eje Vertical */
    align-items: center;
    justify-items: center;
    /* height: 500px; */
    justify-content: center;
    /* Eje Horizontal */
    align-content: center;
    background-color: #9cb76d;
    margin-top: 15px;
    padding: 25px;
}

.elementos div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementos div p {
    font-family: Montserrat;
    font-size: 15px;
}

.elementos div img {
    height: 150px;
}

.ver-mas {
    background-color: #4e6724;
    color: black;
    font-family: Montserrat;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.ver-mas:hover{
    color: azure;
}

/* Grid Galeria */
.grid-galeria {
    display: grid;
    grid-template-areas:
        "img1 img1 img2 img2"
        "img3 img4 img4 img5"
        "img3 img6 img6 img5"
    ;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 200px);
}

.grid-galeria div {
    overflow: hidden;
}

.img-1 {
    grid-area: img1;
    /* background-color: #008000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 img {
    width: 200%;
}

.img-2 {
    grid-area: img2;
    /* background-color: #008000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-2 img {
    width: 100%;
}

.img-3 {
    grid-area: img3;
    /* background-color: #008000; */
    display: flex;
    justify-content: center;
}

.img-3 img {
    width: 100%;
}

.img-4 {
    grid-area: img4;
    /* background-color: #008000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-4 img {
    width: 100%;
}

.img-5 {
    grid-area: img5;
    /* background-color: #008000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-5 img {
    width: 100%;
}

.img-6 {
    grid-area: img6;
    /* background-color: #008000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-6 img {
    width: 100%;
}

.grid-galeria img {
    width: 450px;
}

/* Boton Fijo */
i {
    position: fixed;
    top: 90%;
    right: 20px;
    background-color: #4e6724;
    color: #ffffff;
    font-family: Montserrat;
    padding: 15px;
    border-radius: 15px;
}

/* Pie de Página */
footer{
    width: 100%;
    bottom: 0;
    margin-top: 5px;
    padding: 2rem 8%;
    background-color: #7A8450;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-family: Montserrat;
    font-size: smaller;
    text-align: center;
    color: black;
    padding: 15px;
    margin-top: 10px;
}

h5 {
    font-family: Montserrat;
    font-size: smaller;
    color: black;
    text-align: center;
}

.a-footer {
    background-color: #7A8450;
}

.footer {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: Montserrat;
    font-size: smaller;
    color: black;
}

.footer a {
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: small;
    text-align: center;
}

/* Contacto */
.contacto{
    height: 200px;
    align-items: center;
}

/* Boostrap */
.carousel-item.active {
    display: flex;
    width: 100%;
    transition: transform 1s ease-in-out;
    justify-content: center;
}

.boton {
    display: none;
}

.nav-logo {
    width: 70px;
}

.navbar {
    display: none;
}


/* Mobile */
@media (max-width: 576px){
    h1 {
        background-color: #7A8450;
        color: black;
        margin: 5px;
    }

    h2 {
        color: black;
        font-family: Montserrat;
    }

    .navegacion {
        background-color: #7A8450;
        height: 120px;
        margin-top: -50px;
    }

    .navegacion a {
        color: black;
    }

    .navegacion ul {
        font-size: small;
    }

    .navegacion li {
        display: none;
    }

    .elementos {
        grid-template-columns: 1fr;
    }

    .boton {
        display: block;
        background-color: #7A8450;
        position: absolute;
        right: 0;
    }
    
    .navbar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .nav-logo1{
        display: none;
    }

    .navegation {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "nav-logo . . navbar-toggler";
    }

    .navbar-toggler {
        grid-area: navbar-toggler;
    }

    .bg-dark {
    background-color: #7A8450 !important;
    }

    .collapse {
    background-color: #7A8450;
    }

    .collapse ul {
    list-style-type: none;
    }

    .collapse li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: Montserrat;
    font-size: small;
    display: flex;
    justify-content: center;
    }
    
    .collapsing {
    background-color: #7A8450;
    }

    .collapsing ul {
    list-style-type: none;
    }

    .collapsing li a {
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-size: small;
    display: flex;
    justify-content: center;
    }

    .navbar-toggler {
    margin-top: 22px;
    }
    
    .carousel-item {
    align-items: center;
    width: 100%;
    height: 100%;
    }
}